.item-list {
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 0px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    background-color: #2f2f2f;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-group-item {
    display: block;
    border: solid 1px black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 300px;
    height: 40px;
    background-color: rgb(44, 44, 44);
    box-shadow: 3px 3px 5px 0px black;
}
.list-group-item:hover {
    background-color: rgb(66, 66, 66);
    transition: 0.3s;
    cursor: pointer;
}